{{- $t := .TestReport -}}
{{- $r := .Report -}}
{{- $c := $r.Components -}}

{{- $showSuccesses := (index $c 0).Successes -}}

Success: {{ $r.Success }}
Result: {{ $t.Result }}
Violations: {{ $t.Failures }}, Warnings: {{ $t.Warnings }}, Successes: {{ $t.Successes }}{{ nl -}}

{{- template "_components.tmpl" $c -}}

Results:{{ nl -}}
{{- if gt $t.Failures 0 -}}
  {{- template "_results.tmpl" (toMap "Components" $c "Type" "Violation") -}}
{{- end -}}

{{- if gt $t.Warnings 0 -}}
  {{- template "_results.tmpl" (toMap "Components" $c "Type" "Warning") -}}
{{- end -}}

{{- if and (gt $t.Successes 0) $showSuccesses -}}
  {{- template "_results.tmpl" (toMap "Components" $c "Type" "Success") -}}
{{- end -}}
