---
name: Docs

'on':
  push:
    branches:
      - main

jobs:
  antora:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
      packages: read
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go environment
        uses: actions/setup-go@v3
        with:
          cache: true
          go-version-file: go.mod

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Generate website
        run: make website
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Pages
        uses: actions/configure-pages@v1

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'website/public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
